*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header-nav{
    margin-top: 32px;
}
.header-list{
    display: flex;
    justify-content: center;
}
.header-item{
    display: inline-block;
}
.header-item a{
    text-decoration: none;
    color: #16a085;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin-right: 65px;
}
.header-photo{
    margin-top: 35px;
}
.header-photo img{
    width: 100%;
    height: auto;
}
.header-text {
    background-color: #f5f6f7;
    padding-top: 59px;
    padding-bottom: 95px;
    text-align: center;
    color: #373737;

}
.header-text h2{
    font-size: 22px;
    text-transform: uppercase;
}
.header-text p{
    font-size: 16px;
    display: inline-block;
    width: 1050px;
    line-height: 26px;
    font-weight: bold;
    margin-top:38px;

}
.header-text a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 192px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 18px 45px 18px 43px;
    background-color: #16a085;
    font-size: 12px;
    font-weight: bold;
}
.header-footer{
    margin: 36px 104px 45px 0;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
}